<!-- views/partials/header.ejs -->

<div class="wrap">
	<h1>Web Dev Project Management</h1>
</div>

<!-- Start Primary Nav -->
<nav>
	<div class="wrap">
		<ul id="primary-nav">
			<li class="menu-item home-button"><a href="/">Home</a></li>
			<li class="menu-item new-project-button">New Project</li>
		</ul>
	</div>
</nav>
<!-- End Primary Nav -->