<!-- views/partials/header.ejs -->

<div class="wrap">
	<h1>Web Dev Project Management</h1>
</div>

<!-- Start Primary Nav -->
<nav>
	<div id="primary-nav" class="wrap">
		<a class="menu-item" href="/">Home</a>
		<a class="menu-item new-project-button">New Project</a>
	</div>
</nav>
<!-- End Primary Nav -->