<!DOCTYPE html>
<html>
	<!-- Start Head -->
	<head>
		<% include ../partials/head %>
	</head>
	<!-- End Head -->

	<!-- Start Body -->
	<body class="projects home">

		<!-- Start Header -->
		<header>
			<% include ../partials/header %>
		</header>
		<!-- End Header -->

		<!-- Start Container -->
		<div class="container">
			<div class="wrap">

				<h2>Current Projects:</h2>
				<section id="current-projects-list">
						<!-- handlebars template -->
					<script id="projects-template" type="text/x-handlebars-template">
						{{#each projects}}
							<div data-id="{{_id}}" class="project-card-small">
								<div class="current-project-info">
									<strong>PROJECT</strong>: {{name}}<br />
									<strong>CLIENT</strong>: {{client}}
								</div>
							</div>

							<div data-id="{{_id}}" class="current-project-delete">
								X
							</div>

						{{/each}}
					</script>
				</section>

				<!-- Start New Project Section -->
				<h2>Create a New Project:</h2>
				<section id="new-project-form">

					<form id="newProjectForm">
						<div class="form-float">
							<label for="title">Project Name</label>
							<input type="text" name="name" placeholder="Project Name" required>
						</div>
						<div class="form-float form-last">
							<label for="title">Client Name</label>
							<input type="text" name="client" placeholder="Client Name" required>
						</div>
						<div class="form-float">
							<label for="title">Project Start Date</label>
							<input type="text" name="start" placeholder="Start Date" required>
						</div>
						<div class="form-float form-last">
							<label for="title">Project End Date</label>
							<input type="text" name="end" placeholder="End Date" required>
						</div>
						<div class="form-block">
							<label for="title">Project Description</label>
							<textarea name="description" placeholder="Project Description:"></textarea>
						</div>
						<div class="form-block">
							<label for="title">Project Repo</label>
							<input type="text" name="repo" placeholder="https://github.com/repo-url" required>
						</div>
						<button type="submit" class="new-project-submit">Add New Project</button>
					</form>
					
				</section>
				<!-- End New Project Section -->

			</div>
			<!-- End Wrap -->
		</div>
		<!-- End Container -->

		<!-- Start Footer -->
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- End Footer -->

	</body>
	<!-- End Body -->
</html>