<!DOCTYPE html>
<html>
	<!-- Start Head -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>GA Project 1</title>

		<!-- Stylesheet -->
		<link rel="stylesheet" href="../public/styles/style.css">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Vendor Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

		<!-- Application Sctipts -->
		<script src="/scripts/app.js"></script>

	</head>
	<!-- End Head -->

	<!-- Start Body -->
	<body>

		<!-- Start Header -->
		<header>
			<div class="wrap">
				<h2>Production of Bill Cheng and Kenny Bushman</h2>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Primary Nav -->
		<nav>
			<div class="wrap">
			</div>
		</nav>
		<!-- End Primary Nav -->

		<!-- Start Footer -->
		<footer>
			

		</footer>
		<!-- End Footer -->

	</body>
	<!-- End Body -->
</html>