<!DOCTYPE html>
<html>
	<!-- Start Head -->
	<head>
		<% include ../partials/head %>
	</head>
	<!-- End Head -->

	<!-- Start Body -->
	<body>

		<!-- Start Header -->
		<header>
			<% include ../partials/header %>
		</header>
		<!-- End Header -->

		<!-- Start Main Container -->
		<div class="container">
			<ul>
		    <% drinks.forEach(function(drink) { %>
		        <li><%= drink.name %> - <%= drink.drunkness %></li>
		    <% }); %>
			</ul>
		</div>
		<!-- End Main Container -->

		<!-- Start Footer -->
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- End Footer -->

	</body>
	<!-- End Body -->
</html>