<!DOCTYPE html>
<html>
	<!-- Start Head -->
	<head>
		<% include ../partials/head %>
	</head>
	<!-- End Head -->

	<!-- Start Body -->
	<body class="projects detail">

		<!-- Start Header -->
		<header>
			<% include ../partials/header %>
		</header>
		<!-- End Header -->

		<!-- Start Container -->
		<div class="container">
			<div class="wrap">



				<!-- Start Project Detail Section -->
        <a class="button back-button" href="/">Back</a>
				<h2>Project Details</h2>
				<section id="project-detail-section">
					<div id="project-details">
						<!-- handlebars template -->
						<script id="project-detail-template" type="text/x-handlebars-template">
							<!-- Start Project Detail Card -->
							<div class="project-detail-card">
								<div class="float-fix">
									<div class="detail-float">
										<p><strong>Project Name:</strong> {{projectDetail.name}}</p>
									</div>
									<div class="detail-float detail-last">
										<p><strong>Client Name:</strong> {{projectDetail.client}}</p>
									</div>
									<div class="detail-float">
										<p><strong>Project Start Date:</strong> {{projectDetail.start}}</p>
									</div>
									<div class="detail-float detail-last">
										<p><strong>Project End Date:</strong> {{projectDetail.end}}</p>
									</div>
								</div>
								<div class="detail-block">
									<p><strong>Project Description:</strong> {{projectDetail.description}}</p>
								</div>
								<div class="detail-block detail-last">
									<p><strong>Project Repo:</strong> <a href="{{projectDetail.repo}}" target="_blank">{{projectDetail.repo}}</a></p>
								</div>
							</div>
						<!-- End Project Detail Card -->
					</script>
					<!-- End Handlebars Template -->
				</div>
				<!-- End Project Details -->
				<button type="button" class="update-project-details">Edit Project Details</button>
			</section>
			<!-- End Project Detail Section -->



				<!-- Start User Story Section -->
				<div id="user-story-container">
					<h2>User Stories</h2>
					<section id="user-story-section">

							<script id="user-story-template" type="text/x-handlebars-template">
								{{#each userStory.userStories}}
									<div data-id="{{_id}}" class="story-card-small">
										<div class="user-story-detail">
											<p><strong>User Story:</strong> {{story}}</p>
											<p><strong>Status:</strong>
												<select>
													<option value="{{finished}}" selected>{{finished}}</option>
												  <option value="Open">Open</option>
												  <option value="Working">Working</option>
												  <option value="Complete">Completed</option>
												</select></p>
										</div>
										<div data-id="{{_id}}" class="user-story-delete">
										delete
									</div>
									</div>

									
								{{/each}}
							</script>

					</section>
					<button type="button" class="add-user-story">Add User Story</button>
				</div>
				<!-- End User Story Section -->




		    <!-- Start Update Project Details Modal -->
				<div class="modal fade" role="dialog" id="updateprojectModal">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h2>Update Project Details:</h2>
		          </div>
		          <div class="modal-body">

								<!-- Start Update Project Details Section -->
								<section id="update-project-details">

									<!-- handlebars template -->
									<script id="update-project-form" type="text/x-handlebars-template">

										<!-- Start Update Project Form -->
										<form id="updateProjectForm">
											<div class="form-float">
												<label for="title">Project Name</label>
												<input type="text" name="name" value="{{project.name}}">
											</div>
											<div class="form-float form-last">
												<label for="title">Client Name</label>
												<input type="text" name="client" value="{{project.client}}">
											</div>
											<div class="form-float">
												<label for="title">Project Start Date</label>
												<input type="text" name="start" value="{{project.start}}">
											</div>
											<div class="form-float form-last">
												<label for="title">Project End Date</label>
												<input type="text" name="end" value="{{project.end}}">
											</div>
											<div class="form-block">
												<label for="title">Project Description</label>
												<textarea name="description" value="{{project.description}}">{{project.description}}</textarea>
											</div>
											<div class="form-block">
												<label for="title">Project Repo</label>
												<input type="text" name="repo" value="{{project.repo}}">
											</div>
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											<button type="submit" class="update-project-submit">Update Project</button>
										</form>
										<!-- End Update Project Form -->
									
									</script>
									<!-- End Handlebars Template -->

								</section>
								<!-- End Update Project Details Section -->

							</div><!-- /.modal-body -->
		        </div><!-- /.modal-content -->
		      </div><!-- /.modal-dialog -->
		    </div><!-- /.modal -->
		    <!-- End Update Project Details Modal -->




		    <!-- Start New User Story Modal -->
				<div class="modal fade" role="dialog" id="userStoryModal">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h2>Add A New User Story:</h2>
		          </div>
		          <div class="modal-body">

			          <section id="user-story-form-section">
		          			<form id="user-story-form">
											<div class="form-block">
												<label for="title">Enter User Story</label>
												<input type="text" name="story" placeholder="Enter User Story..." required>

												<label class="user-story-label" for="title">Select User Story Status</label>
												<select class="user-story-choose-status">
												  <option value="Open" selected>Open</option>
												  <option value="Working">Working</option>
												  <option value="Complete">Completed</option>
												</select>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
												<button type="submit" class="user-story-submit">Add User Story</button>
											</div>
										</form>
			          </section>


							</div><!-- /.modal-body -->
		        </div><!-- /.modal-content -->
		      </div><!-- /.modal-dialog -->
		    </div><!-- /.modal -->





		    <!-- Start Add New Project Modal: this is not visible until you call .modal() on it -->
				<div class="modal fade" role="dialog" id="projectModal">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h2>Create a New Project:</h2>
		          </div>
		          <div class="modal-body">
								<!-- Start Add New Project Section -->
								<section id="new-project-form">
									<form id="newProjectForm">
										<div class="form-float">
											<label for="title">Project Name</label>
											<input type="text" name="name" placeholder="Project Name" required>
										</div>
										<div class="form-float form-last">
											<label for="title">Client Name</label>
											<input type="text" name="client" placeholder="Client Name" required>
										</div>
										<div class="form-float">
											<label for="title">Project Start Date</label>
											<input type="text" name="start" placeholder="dd/mm/yyyy" required>
										</div>
										<div class="form-float form-last">
											<label for="title">Project End Date</label>
											<input type="text" name="end" placeholder="dd/mm/yyyy" required>
										</div>
										<div class="form-block">
											<label for="title">Project Description</label>
											<textarea name="description" placeholder="Project Description:"></textarea>
										</div>
										<div class="form-block">
											<label for="title">Project Repo</label>
											<input type="text" name="repo" placeholder="https://github.com/repo-url" required>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
											<button type="submit" class="new-project-submit">Add New Project</button>
										</div>
									</form>
									
								</section>
								<!-- End Add New Project Section -->

							</div><!-- /.modal-body -->
		        </div><!-- /.modal-content -->
		      </div><!-- /.modal-dialog -->
		    </div><!-- /.modal -->

				
			</div>
			<!-- End Wrap -->
		</div>
		<!-- End Container -->

		<!-- Start Footer -->
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- End Footer -->

	</body>
	<!-- End Body -->
</html>
