<!DOCTYPE html>
<html>
	<!-- Start Head -->
	<head>
		<% include ../partials/head %>
	</head>
	<!-- End Head -->

	<!-- Start Body -->
	<body class="projects detail">

		<!-- Start Header -->
		<header>
			<% include ../partials/header %>
		</header>
		<!-- End Header -->

		<!-- Start Container -->
		<div class="container">
			<div class="wrap">
			<h2>Project Details</h2>
				<section id="project-detail-form">

					<form id="projectDetailForm">
						<div class="form-float">
							<label for="title">Project Name</label>
							<input type="text" name="name" placeholder="Project Name" required>
						</div>
						<div class="form-float form-last">
							<label for="title">Client Name</label>
							<input type="text" name="client" placeholder="Client Name" required>
						</div>
						<div class="form-float">
							<label for="title">Project Start Date</label>
							<input type="text" name="start" placeholder="Start Date" required>
						</div>
						<div class="form-float form-last">
							<label for="title">Project End Date</label>
							<input type="text" name="end" placeholder="End Date" required>
						</div>
						<div class="form-block">
							<label for="title">Project Description</label>
							<textarea name="description" placeholder="Project Description:"></textarea>
						</div>
						<div class="form-block">
							<label for="title">Project Repo</label>
							<input type="text" name="repo" placeholder="https://github.com/repo-url" required>
						</div>
						<button type="submit" class="update-project-submit">Update Project</button>
					</form>
					
				</section>

			</div>
			<!-- End Wrap -->
		</div>
		<!-- End Container -->

		<!-- Start Footer -->
		<footer>
			<% include ../partials/footer %>
		</footer>
		<!-- End Footer -->

	</body>
	<!-- End Body -->
</html>