/*
  Site Name: GA Project 1 - Web Development Project Management App
  Site URI: https://secret-cove-35771.herokuapp.com/
  Description: Web Dev Project Management (Express API App)
  Author: Bill Cheng, Kenneth Bushman
  Version: 1.0
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* Links
--------------------------------------------- */

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #337ab7;
  text-decoration: underline;
}

/* Typography
--------------------------------------------- */

p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

strong {
  font-weight: 700;
}

 /* Inputs and Buttons
--------------------------------------------- */

::-webkit-input-placeholder {
   color: #aaa;
}

:-moz-placeholder { /* Firefox 18- */
   color: #aaa;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;  
}

:-ms-input-placeholder {  
   color: #aaa;  
}

label {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

input {
  background-color: #fff;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #666666;
  padding: 10px 15px;
  margin: 0;
  border: 2px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
}

textarea {
  width: 98%;
  height: 100px;
  font-size: 16px;
  color: #666666;
  padding: 10px 15px;
  margin: 0;
  border: 2px solid #ddd;
  border-radius: 3px;
}

button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  background-color: #555;
  width: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  margin: 24px 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

 /* Layout
--------------------------------------------- */
 
.container {
  background :#fff;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; 
 }

 .wrap {
  background: #fff;
  max-width: 800px;
  padding: 40px 0 0;
  margin: 0 auto;
 }

/* Header
--------------------------------------------- */

header {
  background: #424242;
  width: 100%;
  padding: 0;
  margin: 0;
}

header .wrap {
  background: transparent;
  max-width: 900px;
  min-height: 120px;
  padding: 0 20px;
  margin: 0 auto;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
  padding: 30px 0 0;
  margin: 0;
  text-align: left;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

/* Primary Nav
--------------------------------------------- */
 
nav {
  background :#424242;
  width: 100%;
  height: 60px;
}

nav .wrap {
  background: transparent;
  width: 800px;
  height: 60px;
  padding: 0;
  margin: 0 auto;
}

#primary-nav {
  font-family: 'Open Sans', sans-serif;
}

.menu-item {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 19px;
  margin: 0;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
  text-decoration: none;
}

/* Current Projects List Layout
--------------------------------------------- */

#current-projects {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}

.new-project-button {
  width: 240px;
  font-size: 18px;
  margin: 0 0 40px;
}

#current-projects-list {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.project-card-container {
  width: 100%;
  overflow: hidden;
}

.project-card-small {
  background: #ddd;
  width: 94%;
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid #444;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

.current-project-info {
  width: 100%;
  padding: 0;
  margin: 0;
}

.current-project-delete {
  background: red;
  width: 6%;
  height: 75px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding: 3% 0 0;
  margin:   0;
  border-bottom: 2px solid #444;
  float: right;
  cursor: pointer;
}

/* Modal Layout
--------------------------------------------- */

.modal-dialog {
  width: 800px;
}

/* Project Detail Section Layout
--------------------------------------------- */

.back-button {
  display: inline-block;
  background-color: #555;
  width: 180px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  margin: 20px 0 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  color: #fff;
  text-decoration: none;
}

#project-detail-section {
  background: #ddd;
  max-width: 800px;
  padding: 0;
  margin: 0 auto 60px;
  overflow: hidden;
}

.project-detail-card {
  padding: 20px;
}

.detail-float {
  background: #fff;
  width: 46%;
  padding: 15px 15px 5px;
  margin: 0 35px 15px 0;
  float: left;
}

.detail-last {
  margin: 0 0 15px 0;
}

.detail-block {
  background: #fff;
  width: 97%;
  padding: 15px 15px 5px;
  margin: 0 0 15px;
}


/* User Story Section Layout
--------------------------------------------- */

#user-story-container {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

#user-story-section {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

#user-story-template {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}

.story-card-small {
  background: #ddd;
  width: 94%;
  padding: 20px 20px 10px;
  margin: 0;
  border-bottom: 2px solid #444;
  overflow: hidden;
  float: left;
}

.user-story-delete {
  background: red;
  width: 6%;
  height: 113px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding: 6% 0 0;
  margin: 0;
  border-bottom: 2px solid #444;
  float: right;
  cursor: pointer;
}

.add-user-story {
  margin: 0;
}

/* New Project Form Layout
--------------------------------------------- */

#new-project-form {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto 30px;
  overflow: hidden;
}

.form-float {
  width: 46%;
  margin: 0 35px 15px 0;
  float: left;
}

.float-fix {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.form-last {
  margin: 0 0 15px 0;
}

.form-block {
  background: #fff;
  width: 97%;
  margin: 0 0 15px;
}

/* Footer
--------------------------------------------- */

footer {
  background: #424242;
  width: 100%;
  padding: 20px 0 10px;
  margin: 200px 0 0;
  vertical-align: bottom;
}

footer .wrap {
  background :#424242;
  max-width: 900px;
  min-height: 120px;
  padding: 0 20px;
  margin: 0 auto;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0 0 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 780px) {

  .wrap {
    background: transparent;
    max-width: 900px;
    padding: 40px 20px;
  }

}

@media only screen and (max-width: 560px) {

  .detail-float,
  .form-float {
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
    float: left;
  }

  .detail-last,
  .form-last {
    margin: 0 0 15px 0;
  }

  .detail-block,
  .form-block {
    width: 100%;
    margin: 0 0 15px;
  }

}

@media only screen and (max-width: 480px) {

  header h1 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    word-spacing: 1px;
  }

}
